__pycache__/
*.py[cod]
*.so
*.dylib
*.egg
*.egg-info/
.eggs/
build/
dist/
htmlcov/
.coverage
.coverage.*
.cache/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.hypothesis/
.pytype/

.env
.venv
venv/
poetry.toml

*.log
.DS_Store
.idea/
.vscode/
